<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title><%= id %> - simpleimage</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/image-style.css">
    <link rel="stylesheet" href="/assets/css/form-style.css">
    <link rel="stylesheet" href="/assets/css/comments.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="/assets/js/image.bundle.js"></script>
    <script>
        requestComments("<%= id %>");
        $(document).ready(function() {
            convertTimeElementsToLocalTime(document.getElementById("image-container"));
        });
    </script>
    <%- include("headers") %>
</head>

<body>
    <div id="overlay-backdrop">
    </div>
    <%- include("top-nav-view", {user,fromUrl}) %>
    <div id="contents" class="page-contents">
        <div id="notification-overlay-container">
        </div>
        <div id="overlay-container">
        </div>
        <div id="image-container">
            <a href="<%= imageSrc %>">
                <img src="<%= imageSrc %>" class="image-view"><br/>
            </a>
            <span class="info">Uploaded by 
                <% if (author != null) { %>
                    <a class="user<%= (user !== undefined && author === user.username) ? " you" : "" %>" href="/users/<%= author %>"><%= (user !== undefined && author === user.username) ? "you" : author %></a>
                <% } else { %>
                    anonymous
                <% } %>
                on <span class="time"><%= uploadedDate.toString() %></span></span><br/>
            <% if (user !== undefined && author === user.username) { %>
                <span id="delete" class="info action-link delete" onclick="confirmDeleteImage('<%= id %>');">Delete</span><br/>
            <% } %>
            <span class="info" id="comment-count">0 comments</span><br/>
            <% if (user === undefined) { %>
                <span class="info"><a class="action-link login" onclick="openLogin()">Log in</a> or <a class="action-link register" onclick="openRegister()">register</a> to post a comment.</span><br/><br/>
            <% } else { %>
                <form id="comment" action="/comment?type=json&response=html" method="POST">
                    <input type="hidden" name="imageID" value="<%= id %>">
                    <input type="hidden" name="userID" value="0">
                    <textarea name="comment" placeholder="Add a comment"></textarea>
                    <input type="submit" value="Submit">
                </form>
            <% } %>
            <div id="comments-container"></div>
        </div>
        <%- include("footer") %>
    </div>
</body>

</html>