<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        Your Images - simpleimage</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/user-style.css">
    <link rel="stylesheet" href="/assets/css/form-style.css">
    <link rel="stylesheet" href="/assets/css/comments.css">
    <link rel="stylesheet" href="/assets/css/user-images-style.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="/assets/js/toolbar.bundle.js"></script>
    <script src="/assets/js/selectable.bundle.js"></script>
    <script src="/assets/js/your-images.bundle.js"></script>
    <script>
        
    </script>
    <%- include("headers") %>
</head>

<body>
    <div id="overlay-backdrop">
    </div>
    <%- include("top-nav-view", {user:sessionUser,fromUrl}) %>
    <div id="contents" class="page-contents">
        <div id="notification-overlay-container">
        </div>
        <div id="overlay-container">
        </div>
        <div id="user-images-toolbar" class="toolbar">
            <div data-action-name="delete" class="button toolbar-button deactivated">
                <span class="collecticon collecticon-trash-bin head-icon"></span>
            </div>
        </div>
        <div id="user-images-container" class="selectables-container">
            <% images.forEach(function(image) { %>
                <div class="selectable-block" data-image-id="<%= image.id %>">
                    <div class="checkmark-button"></div>
                    <div class="image-container">
                        <a href="/images/<%= image.id %>">
                            <img style="max-width: 100%; max-height: 100%;" src="data:<%= image.mimeType %>;base64,<%= image.data %>">
                        </a>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</body>

</html>