<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title><%= user.username %> - simpleimage</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/user-style.css">
    <link rel="stylesheet" href="/assets/css/form-style.css">
    <link rel="stylesheet" href="/assets/css/comments.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="/assets/js/user.bundle.js"></script>
    <script>
        requestCommentsUser("<%= user.username %>", function(comments, numOfComments) {
            $("#comment-count").text(numOfComments);
        });

        $(document).ready(function() {
            $("#join-date").text(timeUTCToLocal("<%= user.join_date %>"));
        });
    </script>
    <%- include("headers") %>
</head>

<body>
    <div id="overlay-backdrop">
    </div>
    <%- include("top-nav-view", {user:sessionUser,fromUrl}) %>
    <div id="contents" class="page-contents">
        <div id="notification-overlay-container">
        </div>
        <div id="overlay-container">
        </div>
        <div id="user-container">
            <div>
                <h2>User Summary</h2>
            </div>
            <div class="user-view">
                <span>Username: <span id="username"><%= user.username %></span></span><br/>
                <span>Join Date: <span id="join-date"></span></span><br/>
                <span>Comment Count: <span id="comment-count"></span></span>
            </div>
            <div>
                <h2>Comment History</h2>
            </div>
            <div id="comments-container"></div>
        </div>
        <%- include("footer") %>
    </div>
</body>

</html>