<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        Your Images - simpleimage</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/user-style.css">
    <link rel="stylesheet" href="/assets/css/form-style.css">
    <link rel="stylesheet" href="/assets/css/comments.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="/assets/js/user.bundle.js"></script>
    <script>
        
    </script>
    <%- include("headers") %>
</head>

<body>
    <div id="overlay-backdrop">
    </div>
    <%- include("top-nav-view", {user:sessionUser,fromUrl}) %>
    <div id="user-images">
        <% images.forEach(function(image) { %>
            <a href="/images/<%= image.id %>">
                <img style="max-width:200px; max-height: 200px;" src="data:<%= image.mimeType %>;base64,<%= image.data %>">
            </a>
        <% }); %>
    </div>
</body>

</html>